.slide-container,
.slide-container * {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #ccc;
}

.slide-container {
    overflow: hidden;
}

.slide-card {
    width: 100%;
}

.slide-ctrl {
    position: absolute;
    bottom: 0;
}

.slide-ctrl .slide-ctrl-button {
    background: #fff;
    padding: 5px 10px;
}